.home{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("https://picsum.photos/999");
  background-position: center;
}

.information{
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 100%;
  border-radius: 20px 20px 0 0;
  background-color: var(--bg-color);
  color: white;
  padding: 10px;
  text-align: center;
}

.information h1{
  font-size: 3rem;
  margin-top: 10px;
}

.information p{
  color: #ced4da;
  margin: 20px 0;
}

.information input{
  font-size: 2rem;
  width: 100%;
  text-align: center;
  max-width: 150px;
  border:  2px solid #0353a4;
  background: transparent;
  margin: 0 auto;
  display: block;
  padding: 5px;
  border-radius: 10px;
  color: #ced4da;
}

.information button{
  width: max-content;
  font-size: 2rem;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  color: #ced4da;
  background: transparent;
  border:  1px solid #0353a4;
}

