:root{
  --bg-color: #121f3d;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
}

ol,ul{
  list-style: none;
}
