.message{
  display: grid;
  font-size: 2rem;
}

.message div{
  padding: 10px;
  width: max-content;
  max-width: 85%;
  border: 1px solid gray;
  margin: 10px;
  border-radius: 5px;
}

.sender {
  justify-self: right;
}

.receiver{
  justify-self: left;
}
